<div class="ui-g-12">
    <div class="ui-g-12">
        <div class="ui-g-6">
            <p-card header="Count Parking" styleClass="time-dashboard--card title-card">
                <p-chart type="bar" [data]="dataCount$ | async"></p-chart>
            </p-card>
        </div>
        <div class="ui-g-12" [formGroup]="formReady">
            <div class="ui-g-12">
                <div class="row">
                    <div class="p-10">
                        <p-calendar [monthNavigator]="true" formControlName="start" appendTo="body"
                            placeholder="Start Date" [yearNavigator]="true" dataType="string" dateFormat="yy-mm-dd"
                            yearRange="{{ '' | primeYearRange }}" class="border-none"></p-calendar>
                    </div>
                    <div class="p-10">
                        <p-calendar [monthNavigator]="true" formControlName="end" appendTo="body" placeholder="End Date"
                            [yearNavigator]="true" dataType="string" dateFormat="yy-mm-dd"
                            yearRange="{{ '' | primeYearRange }}" class="border-none"></p-calendar>
                    </div>
                    <div class="p-15">
                        <button (click)="onSearch()" pButton type="button" label="{{ 'Search' | translate }}"
                            class="btn-update"></button>
                    </div>
                    <div class="p-15">
                        <button (click)="onRefresh()" pButton type="button" label="{{ 'Refresh' | translate }}"
                            class="btn-edit"></button>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <div class="ui-g-4 border-line">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid p-1">
                            <div class="ui-g-12">
                                <p-dropdown #dd class="form-dropdown" dropdownIcon="fas fa-caret-down"
                                    [options]="actions" (onChange)="onSelectAction($event)" appendTo="body"
                                    filter="true">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-7">

                    </div>
                    <div class="ui-g-1" *ngIf="showExport">
                        <app-export-table showPdfBtn=true [data]="data" [filename]="fileName" showXlsBtn=true>
                        </app-export-table>
                    </div>
                </div>

                <p-card header="Parking Data" styleClass="time-dashboard--card title-card">

                    <p-table #dt [value]="dataDashboard$ | async " [columns]="colums" [scrollable]="true"
                        [paginator]="true" [rows]="10" class="custom-pagination" dataKey="id">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col *ngFor="let col of columns" style="width:250px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="text-center">
                                    Invoice Id
                                </th>
                                <th class="text-center">
                                    Amount
                                </th>
                                <th class="text-center">
                                    Tanggal Masuk
                                </th>
                                <th class="text-center">
                                    Tanggal Keluar
                                </th>
                                <th class="text-center">
                                    Jenis Kendaraan
                                </th>
                                <th class="text-center">
                                    Payment Method
                                </th>
                                <th class="text-center">
                                    No Plat
                                </th>
                                <th class="text-center">
                                    Source of Fund
                                </th>
                                <th class="text-center">
                                    Status
                                </th>
                                <th class="text-center">
                                    Juru Parkir
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-trans>
                            <tr>
                                <td class="text-center">
                                    {{ trans?.invoiceId}}
                                </td>
                                <td class="text-center">
                                    {{ trans?.amount || "-"}}
                                </td>
                                <td class="text-center">
                                    {{ trans?.enteredDate || "-"}}
                                </td>
                                <td class="text-center">
                                    {{ trans?.exitDate || "-"}}
                                </td>
                                <td class="text-center">
                                    {{ trans?.jenisKendaraan || "-"}}
                                </td>
                                <td class="text-center">
                                    {{ trans?.paymentMethod || "-"}}
                                </td>
                                <td class="text-center">
                                    {{ trans?.platNo || "-" }}
                                </td>
                                <td class="text-center">
                                    {{ trans?.sourceOfFund || "-"}}
                                </td>

                                <td class="text-center">
                                    {{ trans?.status || "pending"}}
                                </td>

                                <td class="text-center">
                                    {{ trans?.idjuru?.nama || "-"}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length">
                                    {{'noRecordsFound' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </div>
