<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="ui-g-12">
    <app-appearance-submenu [subMenu]="subMenu"></app-appearance-submenu>

    <p-card class="w-100 card-style">
        <p-header class="title-header">
            <div class="d-flex pl-1 header-title">
                <div class="mr-auto px-2 header-title-text">
                    <p class="h5 font-weight-bold text-uppercase ">
                        {{ title | translate }}
                    </p>
                </div>
                <!-- General-toolbar- -->


                <div *ngIf="isView" class="btn-group px-2" style="margin: 6px;">
                    <button (click)="onBack()" pButton type="button" label="{{ 'back' | translate }}"
                        class="btn-back"></button>
                    <button (click)="onAdd()" pButton type="button" label="{{ 'Ganti Tarif' | translate }}"
                        class="btn-update"></button>
                </div>
                <!-- / General-toolbar -->
            </div>
        </p-header>

    </p-card>
</div>
<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
